@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Universal Colors and Variables */
:root {
    --primary-color-hue: 252;
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;

    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-grey: hsl(252, 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}

/* General Styles */
.container {
    width: 80%;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
}

.profile-photo {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-grey);
}

/* Navbar */
nav {
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 155px;
}

.search-bar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

.search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

.search-bar input[type="search"]::placeholder {
    color: var(--color-grey);
}

.create {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* Main Content */
main {
    position: relative;
    top: 5.4rem;
}

main .container {
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    column-gap: 2rem;
    position: relative;
}

/* Left Sidebar */
.left {
    height: max-content;
}

.left .profile {
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

.left .sidebar {
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.sidebar .menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.sidebar .menu-item:hover {
    background: var(--color-light);
}

.sidebar i {
    font-size: 1.4rem;
    color: var(--color-grey);
    margin-left: 2rem;
    position: relative;
}

.sidebar i .notification-count {
    background: var(--color-danger);
    color: white;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;
}

.sidebar h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
}

.sidebar .active {
    background: var(--color-light);
}

.sidebar .active i,
.sidebar .active h3 {
    color: var(--color-primary);
}

.sidebar .active::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}

.sidebar .menu-item:first-child.active {
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.sidebar .menu-item:last-child.active {
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .btn {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 0.7rem;
}

/* Notification Popup */
.notifications-popup {
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
    z-index: 8;
    display: none;
}

.notifications-popup::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: var(--color-white);
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}

.notifications-popup > div {
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.notifications-popup small {
    display: block;
}

/* Middle Content */
.middle .stories {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    gap: 0.5rem;
}

.middle .stories .story {
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 0.75rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.middle .stories .story::before {
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    background: linear-gradient(transparent, rgba(0,0,0,0.75));
    position: absolute;
    bottom: 0;
}

.middle .stories .story .name {
    z-index: 0;
}

/* Example Stories */
.middle .stories .story:nth-child(1) {
    background: url("./images/kiran_nobg.png") no-repeat center center/cover;
}

.middle .stories .story:nth-child(2) {
    background: url("./images/story-2.jpg") no-repeat center center/cover;
}

.middle .stories .story:nth-child(3) {
    background: url("./images/story-3.jpg") no-repeat center center/cover;
}

.middle .stories .story:nth-child(4) {
    background: url("./images/story-4.jpg") no-repeat center center/cover;
}

.middle .stories .story:nth-child(5) {
    background: url("./images/story-5.jpg") no-repeat center center/cover;
}

.middle .stories .story:nth-child(6) {
    background: url("./images/story-6.jpg") no-repeat center center/cover;
}

.middle .story .profile-photo {
    width: 2rem;
    height: 2rem;
    align-self: flex-start;
}

.middle form {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.middle form * {
    cursor: pointer;
}

.middle form input[type="text"] {
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    font-size: 0.9rem;
    color: var(--color-dark);
}

.middle .feeds {
    margin-top: 1.5rem;
}

/* Feed */
.feed {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.feed .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feed .head .user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feed .user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feed .user .info {
    display: flex;
    flex-direction: column;
}

.feed .info small {
    color: var(--color-grey);
}

.feed .photo {
    margin: 1rem 0;
}

.feed .action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.6rem 0;
}

.feed .interaction-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feed .interaction-buttons div {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.feed .bookmark {
    cursor: pointer;
}

.feed .liked-by {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.feed .liked-by span {
    display: flex;
}

.feed .liked-by span img {
    border: 2px solid var(--color-white);
}

.feed .liked-by p {
    margin-left: 0.5rem;
}

.feed .liked-by b {
    color: var(--color-dark);
}

.feed p.description {
    color: var(--color-dark);
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

.feed .comments {
    color: var(--color-primary);
}

.feed .comments-text {
    cursor: pointer;
}

.feed .add-comment {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

.feed .add-comment p {
    cursor: pointer;
}

.feed .add-comment input[type="text"] {
    border: none;
    outline: none;
    background: var(--color-light);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    width: 100%;
}

/* Right Sidebar */
.right .messages {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

.right .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 0.5rem;
}

.right .search-bar {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: var(--search-padding);
    border-radius: var(--border-radius);
    background: var(--color-light);
}

.right .search-bar input[type="search"] {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}

.right .category {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0.5rem;
    flex-wrap: wrap;
}

.right .category h6 {
    cursor: pointer;
    margin: 0.4rem 0;
    color: var(--color-grey);
}

.right .category .active {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    padding-bottom: 0.2rem;
}

.right .message {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.right .message:last-child {
    margin: 0;
}

.right .message:hover {
    background: var(--color-light);
    border-radius: var(--card-border-radius);
    padding: 0.5rem;
}

.right .message .profile-photo {
    width: 2.5rem;
    height: 2.5rem;
}

.right .message p {
    font-size: 0.8rem;
}

.right .message .text-muted {
    font-size: 0.7rem;
}

.right .message .notification {
    background: var(--color-primary);
    font-size: 0.7rem;
    color: var(--color-white);
    padding: 0.2rem 0.4rem;
    border-radius: 1rem;
}

.friend-requests {
    margin-top: 1rem;
}

.friend-requests h4 {
    color: var(--color-dark);
}

.request {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.request .info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.request .info .profile-photo {
    width: 2.5rem;
    height: 2.5rem;
}

.request .info .username {
    display: flex;
    flex-direction: column;
}

.request .action {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.request .action button {
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
}

.btn-outline {
    border: 1px solid var(--color-grey);
    background: transparent;
    color: var(--color-grey);
}

.btn-outline:hover {
    background: var(--color-grey);
    color: var(--color-white);
}

/* Media Queries */
@media screen and (max-width: 1170px) {
    main .container {
        grid-template-columns: 5rem auto 22vw;
    }

    .container {
        width: 95%;
    }

    .profile-photo {
        width: 2.2rem;
    }

    .middle .stories {
        height: 9rem;
    }

    .middle .stories .story {
        font-size: 0.7rem;
    }

    .middle .stories .story::before {
        height: 4rem;
    }

    .middle .stories .story .profile-photo {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media screen and (max-width: 960px) {
    nav .container {
        justify-content: space-between;
    }

    .search-bar {
        display: none;
    }

    .right {
        display: none;
    }

    main .container {
        grid-template-columns: 5rem auto;
    }

    .middle form {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    nav .container {
        justify-content: space-between;
    }

    .search-bar {
        display: none;
    }

    .right {
        display: none;
    }

    main .container {
        grid-template-columns: 5rem auto;
    }

    .middle form {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    nav .container {
        justify-content: space-between;
    }

    .search-bar {
        display: none;
    }

    .right {
        display: none;
    }

    main .container {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .middle .feeds,
    .middle .stories {
        display: block;
    }

    .middle .stories {
        height: auto;
    }

    .middle .story {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 480px) {
    nav .container {
        flex-direction: column;
    }

    .create {
        display: none;
    }

    .middle .stories .story {
        font-size: 0.6rem;
    }
} 


/* *,html{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    color: #fff;
    background-color: #000;
} */

/* h1,h2,h3,h4,h5,h6{
    font-family: "Inter, Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif";
}
body{
    font-family: "Inter, Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif";
} */


body a{
    text-decoration: none;
    color: #241E38;

}

html {
    scroll-behavior: smooth;
  }


/* Universal Colors  */
:root {
    --primary-color-hue: 252;
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;

    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-grey: hsl(252, 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;

}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark)    ;
    background: var(--color-light);
    overflow-x: hidden;
}

/* =============== General Style ============== */
.container {
    width: 80%;
    margin: 0 auto;
}

.profile-photo {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-grey);
}

/* =============== Navbar ============== */
nav {
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo img{
    width: 155px;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search-bar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

.search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder {
    color: var(--color-grey);
}

nav .create {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* =============== Main ============== */
main {
    position: relative;
    top: 5.4rem;
}

main .container {
    display: grid;
    grid-template-columns: 18vw auto  20vw;
    column-gap: 2rem;
    position: relative;
}

/* =============== Left ============== */
main .container .left {
    height: max-content;
    /* position: sticky; */
    /* top: var(--sticky-top-left); */
}

main .container .left .profile {
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

/* =============== Sidebar ============== */
.left .sidebar {
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.left .sidebar .menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.left .sidebar .menu-item:hover {
    background: var(--color-light);
}

.left .sidebar i {
    font-size: 1.4rem;
    color: var(--color-grey);
    margin-left: 2rem;
    position: relative;
}

.left .sidebar i .notification-count {
    background: var(--color-danger);
    color: white;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;
}

.left .sidebar h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
}

.left .sidebar .active {
    background: var(--color-light);
}

.left .sidebar .active i, 
.left .sidebar .active h3 {
    color: var(--color-primary);
}

.left .sidebar .active::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}

.left .sidebar .menu-item:first-child.active {
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .sidebar .menu-item:last-child.active {
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .btn {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 0.7rem;
}

/* =============== Notification Popup ============== */
.left .notifications-popup {
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: 0 0 2rem hsl(var(--color-primary), 75%, 60%, 25%);
    z-index: 8;
    display: none;
}

.left .notifications-popup::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: var(--color-white);
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}

.left .notifications-popup > div {
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.left .notifications-popup small {
    display: block;
}

/* =============== Middle ============== */
/* =============== Stories ============== */
.middle .stories {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    gap: 0.5rem;
}

.middle .stories .story {
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 0.75rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.middle .stories .story::before {
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    background: linear-gradient(transparent, rgba(0,0,0,0.75));
    position: absolute;
    bottom: 0;
}

.middle .stories .story .name {
    z-index: 0;
}

.middle .stories .story:nth-child(1) {
    background: url("./images/kiran_nobg.png")
    no-repeat center center/cover;
}

.middle .stories .story:nth-child(2) {
    background: url("./images/story-2.jpg")
    no-repeat center center/cover;
}

.middle .stories .story:nth-child(3) {
    background: url("./images/story-3.jpg")
    no-repeat center center/cover;
}

.middle .stories .story:nth-child(4) {
    background: url("./images/story-4.jpg")
    no-repeat center center/cover;
}

.middle .stories .story:nth-child(5) {
    background: url("./images/story-5.jpg")
    no-repeat center center/cover;
}

.middle .stories .story:nth-child(6) {
    background: url("./images/story-6.jpg")
    no-repeat center center/cover;
}

.middle .story .profile-photo {
    width: 2rem;
    height: 2rem;
    align-self: start;
    border: 3px solid var(--color-light);
}

/* =============== Create Post ============== */
.middle .create-post {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}

.middle .create-post input[type="text"] {
    width: 100%;
    justify-self: start;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-secondary);
    margin-right: 1rem;
}

/* =============== Feeds ============== */
.middle .feeds .feed {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.middle .feed .head {
    display: flex;
    justify-content: space-between;
}

.middle .feed .user {
    display: flex;
    gap: 1rem;
}

.middle .feed .photo {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
}

.middle .feed .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem 0;
}

.middle .liked-by {
    display: flex;
}

.middle .liked-by span {
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius:50%;
    overflow: hidden;
    border: 2px solid var(--color-white);
    margin-left: -0.6rem;
}

.middle .liked-by span:first-child {
    margin: 0;
}

.middle .liked-by p {
    margin-left: 0.5rem;
}

/* =============== Right ============== */
/* main .container .right {
    height: max-content;
    /* position: sticky; */
    /* top: var(--sticky-top-right); */
    /* bottom: 0; 
} */

/* main .container .left .sidebar{
    position: fixed;
    top: 90px;

} */

/* =============== Messages ============== */
.right .messages {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

.right .messages .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages i {
    font-size: 1.4rem;
}

.right .messages .search-bar {
    display: flex;
    margin-bottom: 1rem;
}

.right .messages .category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages .category h6 {
    width: 100%;
    text-align: center;
    border-bottom: 4px solid var(--color-light);
    padding-bottom: 0.5rem;
    font-size: 0.75rem;
}

.right .messages .category .active {
    border-color: var(--color-dark);
}

.right .messages .message-requests {
    color: var(--color-primary);
}

.right .messages .message {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
}

.right .message .profile-photo {
    position: relative;
    overflow: visible;
}

.right .profile-photo img {
    border-radius: 50%;
}

.right .messages .message:last-child {
    margin: 0;
}

.right .messages .message p {
    font-size:0.8rem;
}

.right .messages .message .profile-photo .active {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);
    background: var(--color-success);
    position: absolute;
    bottom: 0;
    right: 0;
}

/* =============== Friend Requests ============== */
/* .right .friend-requests {
    margin-top: 1rem;
}

.right .friend-requests h4 {
    color: var(--color-grey);
    margin: 1rem 0;
}

.right .request {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 0.7rem;
}

.right .request .info {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    
  
}
/* .right .request .info h1{
    color: white;
} */

/* .right .request .action {
    display: flex;
    gap: 1rem;
} */ */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
}

.friend-requests {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.friend-requests h4 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.request {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.request:last-child {
    border-bottom: none;
}

.info {
    display: flex;
    align-items: center;
}

.profile-photo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.info h5 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.info .text-muted {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
}

.action {
    display: flex;
    flex-direction: column;
}

.action a {
    text-decoration: none;
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
}

.btn-primary:hover {
    background-color: #45a049;
}

.btn-secondary {
    background-color: #f44336;
    color: white;
}

.btn-secondary:hover {
    background-color: #e53935;
}

@media (max-width: 600px) {
    .request {
        flex-direction: column;
        align-items: flex-start;
    }

    .action {
        flex-direction: row;
        margin-top: 10px;
    }

    .btn {
        margin: 0 5px;
    }
}


/* =============== Theme Customization ============== */
.customize-theme {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100%;
    text-align: center;
    display: grid;
    place-items: center;
    display: none;
}

.customize-theme .card {
    background: var(--color-white);
    padding: 3rem;
    border-radius: var(--card-border-radius);
    width:50%;
    box-shadow: 0 0 1rem var(--color-primary);
}

/* =============== Font Size ============== */
.customize-theme .font-size {
    margin-top: 5rem;
}

.customize-theme .font-size > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-light);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
}

.customize-theme .choose-size {
    background: var(--color-secondary);
    height: 0.3rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

.customize-theme .choose-size span {
    width: 1rem;
    height: 1rem;
    background: var(--color-secondary);
    border-radius: 50%;
    cursor: pointer;
}

.customize-theme .choose-size span.active {
    background: var(--color-primary);
}

/* =============== Color ============== */
.customize-theme .color {
    margin-top: 2rem;
}

.customize-theme .choose-color {
    background: var(--color-light);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customize-theme .choose-color span {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}

.customize-theme .choose-color span:nth-child(1) {
    background: hsl(233, 60%, 16%);
}

.customize-theme .choose-color span:nth-child(2) {
    background: hsl(52, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(3) {
    background: hsl(352, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(4) {
    background: hsl(152, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(5) {
    background: hsl(202, 75%, 60%);
}

.customize-theme .choose-color span.active {
    border: 5px solid var(--color-secondary);
}

/* =============== Background ============== */
.customize-theme .background {
    margin-top: 2rem;
}

.customize-theme .choose-bg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.customize-theme .choose-bg > div {
    padding: var(--card-padding);
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    cursor: pointer;
}

.customize-theme .choose-bg > div.active {
    border: 2px solid var(--color-primary);
}

.customize-theme .choose-bg .bg-1 {
    background: white;
    color: black;
}

.customize-theme .choose-bg .bg-2 {
    background: hsl(252, 30%, 17%);
    color: white;
}

.customize-theme .choose-bg .bg-3 {
    background: hsl(252, 30%, 10%);
    color: white;
}

.customize-theme .choose-bg > div span {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--color-grey);
    border-radius: 50%;
    margin-right: 1rem;
}

/* ================= 
MEDIA QUERIES FOR SMALL LAPTOP AND BIG TABLETS 
==================== */

@media screen and (max-width: 1200px) {
    .container {
        width: 96%;
    }

    main .container {
        grid-template-columns: 5rem auto 30vw;
        gap: 1rem;
    }

    .left {
        width: 5rem;
        z-index: 5;
    }

    main .container .left .profile {
        display: none;
    }

    .sidebar h3 {
        display: none;
    }

    .left .btn {
        display: none;
    }

    .customize-theme .card {
        width: 80vw;
    }
}

/* ================= 
MEDIA QUERIES FOR SMALL TABLETS AND MOBILE PHONES
==================== */

@media screen and (max-width: 992px) {
    nav .search-bar {
        display: none;
    }

    main .container {
        grid-template-columns: 0 auto 5rem;
        gap: 0;
    }

    main .container .left {
        grid-column: 3/4;
        position: fixed;

        bottom: 0;
        right: 0;
    }

    /* Notification Popup */
    .left .notifications-popup { 
        position: absolute;
        left: -20rem;
        width: 20rem;
    }

    .left .notifications-popup::before {
        display: absolute;
        top: 1.3rem;
        left: calc(20rem - 0.6rem);
        display: block;
    }

    main .container .middle {
        grid-column: 1/3;
    }

    main .container .right {
        display: none;
    }

    .customize-theme .card {
        width: 80vw; 
    }
}



/* for like button  */

.uil-heart {
    color: black; /* Default color */
}
.uil-heart.red {
    color: red; /* Red color when clicked */
    /* color: white; */
    /* background-color: red; */
    /* border-radius: 50%; */
}
.uil-heart:hover{
    cursor: pointer;
   
}




/* For share button  */

.share-button {
    cursor: pointer;
    font-size: 24px;
}




/* For Bookmark CSS  */

.bookmark {
    cursor: pointer;
    font-size: 24px;
    color: initial; /* Initial color, can be changed as needed */
}
.bookmark.black {
    color: white; /* Class to change color to black */
    /* icon-color: blue; */
    background-color: #6B4DE6;
    border-radius: 50%;
    /* padding: 10px   ; */
}



/* Move Top Feature  */


/* body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    padding: 20px;
    background-color: #f0f2f5;
} */

.customize-view {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}

.customize-view h2 {
    margin-bottom: 10px;
    font-size: 26px;
    color: #333;
    text-align: center;
}

.customize-view p {
    margin-bottom: 20px;
    color: #666;
    text-align: center;
}

.control-group {
    margin-bottom: 20px;
    text-align: center;
}

.control-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

#fontSize button,
#color button,
#background button {
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}

#fontSize button.active,
#color button.active,
#background button.active {
    border-color: #007bff;
    background-color: #e7f1ff;
}

#fontSize button:hover,
#color button:hover,
#background button:hover {
    border-color: #007bff;
    background-color: #f0f8ff;
}

#color button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
}

#color button.purple { background: #6a0dad; }
#color button.green { background: #00c851; }
#color button.red { background: #ff4444; }

#fontSize button[data-size="small"] { font-size: 12px; }
#fontSize button[data-size="medium"] { font-size: 16px; }
#fontSize button[data-size="large"] { font-size: 20px; }

#background button[data-bg="light"] { background: #ffffff; color: #000; }
#background button[data-bg="dim"] { background: #555555; color: #ffffff; }
#background button[data-bg="dark"] { background: #000000; color: #ffffff; }

@media (max-width: 600px) {
    .customize-view {
        padding: 15px;
    }
    
    #fontSize button,
    #color button,
    #background button {
        padding: 8px 12px;
        margin: 5px 3px;
        font-size: 14px;
    }

    #color button {
        width: 30px;
        height: 30px;
    }
}
